@import './styles/_mixins';

.app-container {
    display:flex;
    flex-direction: column;
    padding:20px;
  }
  
  .app-container__match-id{
    @include textPos($pos: right);
  }
  
  .app-container__game-title{
    @include textPos;
  }
  